﻿@model OdeToFood.Entities.Restaurant

<h1>@Model.Name</h1>

<div>... details ...</div>
<div>
    ID: @Model.Id
</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>