﻿@model OdeToFood.ViewModels.HomePageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OdeToFood</title>
</head>
<body>
		<h1>Welcome</h1>
		<h3>@Model.CurrentMessage</h3>
		<table>
			@foreach (var restaurant in Model.Restraunts){
            <tr>
			    <td>
                    @Html.ActionLink("View", "Details", new { id = restaurant.Id })
				</td>
                <td>
                    @restaurant.Name
                </td>
			</tr>
			}
		</table>
</body>
</html>
